/*-------Google Fonts------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/*--------Utilities---------- */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color:#3A3A3A;
    background: #F1F1F1;
}
.container{
    margin: 0 120px 0 120px;
}
.link-button{
    background: #E02C6D;
    border: 0;
    border-radius: 41px;
    padding: 10px 20px;
    color: #FFFFFF;
    font-weight: 700;
}
/*------Top Nav----- */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    font-size: 24px;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
    margin-right: 34px;
}
.nav-menu ul li:last-child{
    margin-right: 0;
}
.nav-menu ul li a{
    text-decoration: none;
    color:#3A3A3A;
}
.fal{
    color:white;
    background-color: #3A3A3A;
    font-size: 18px;
}
/*=======Influencer Section======= */
main{
    margin-top: 50px;
}
.top-section{
    display: flex;
    align-items: center;
}
.influencer-desc h1{
    font-size: 52px;
    display: inline-block;
    margin-bottom: 0;
}
.influencer-desc p{
    margin-top: 0;
}
.influencer-img{
    position: relative;
}
.influencer-img:hover .main-camera-img{
    transform: rotate(30deg);
}
.main-camera-img{
    position: absolute;
    top: 30px;
    z-index: 1;
    width: 440px;
    height: 414px;
    transition: transform 0.3s ease-in;
}
.fas{
    margin-left: 12px;
}
/*======= Brand Logos ======= */
.brand-logos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 69px;
    padding: 36px 62px;
    border: 1px solid skyblue;
}
/* =======Popular Collection======== */
.popular-collection{
    margin-top: 100px;
}
.collection-title{
    font-size: 36px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 50px;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.product{
    background: #FFFFFF;
    /* border: 1px solid #BFBFBF; */
    border-radius: 5px;
    padding: 17px 15px 16px 14px;
}
.product-banner img{
    width: 100%;
}
.product-info p{
    font-size: 24px;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}
.product-name{
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 0;
    font-weight: 500;
}
.rating-stars{
    margin-top: 0;
}

.fa-star, .filled, .half {
    color: #FB8200;
    margin: 0;
    font-size: 12px;
}
.rating-stars .half{
    margin: 0;
}
.product-info span{
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
}
.desc p{
    margin-top: 0;
    margin-bottom: 0;
}
.see-more{
    margin-top: 50px;
    color:#E02C6DDE;
    text-align: right;
}
.see-more h4{
    display: inline;
    font-size: 1em;
}
.see-more-arrow{
    margin-left: 8px;
}

/*=========Feature Products========= */
.feature-products{
    display: flex;
    margin-top: 100px;
    align-items: flex-start;
    padding:
}
.feature-img img{
    width: 500px;
    border-radius: 10px;
}
.feature-desc{
    margin-left: 96px;
}
.feature-desc h3{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 16px;
}
.feature-desc p{
    margin-top: 0;
}
.feature-desc .link-button{
    border-radius: 0;
}
/* =========Footer========= */
footer{
    margin-top: 100px;
    background:  #0A0826;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-details{
    text-align: center;
}
.footer-details h3{
    font-size: 24px;
    margin-bottom: 3px;
    margin-top: 50px;
}
.footer-details p{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
}
.footer-social-icons{
    margin-top: 30px;
    margin-bottom: 50px;
    /* background-color: #22213C; */
}
.footer-social-icons a{
    background: rgba(122, 25, 2, 0.1);
    margin-right:  12px;
    padding: 17px 18px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
}
.footer-social-icons .fab{
    font-size: 1.3em;
}
.footer-social-icons a:hover {
    background: burlywood;
    color: blue;
    transform: rotate(360deg);
}

/* =======Media Quaries ========= */
@media only screen and (max-width:688px){
}
.nav-menu ul{
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
}
    .top-section{
        flex-direction: column-reverse; 
    }
    .top-section img{
        width: 257px;
        width: 257px;
        
    }
    .brand-logos{
        flex-direction: column;
        row-gap: 50px;
        border: 0;
    }
    .products{
        grid-template-columns: repeat(1, 1fr);
    }
    

}